@import 'swiper/css';
@import 'swiper/css/navigation';


:root{
  --color11: #021024;
  --color12: #052659;
  --color13: #5483B3;
  --color14: #7DA0CA;
  --color15: #C1E8FF;

  --color1: #80EE98;  
  --color2: #46DFB1;
  --color3: #09D1C7;
  --color4: #15919B;
  --color5: #0C6478;
  --color6: #213A58;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.border {
  border: 2px solid red !important;
}


.CardProductContaienr{
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: var(--color15) !important;
}